.wrap {
	width: 40%;
	margin: 4em auto;
}

.fill {
	animation: charge 2s cubic-bezier(0.17, 0.67, 0.54, 0.99);
}

@keyframes charge {
	0% {
		transform: scaleX(0);
	}

	10% {
		fill: red;
	}

	40% {
		fill: yellow;
	}

	100% {
		transform: scaleX(1);
		fill: #72CC58;
	}
}