
body {
	background-image: url('background.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

.robot {
	animation-name: slide;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

@keyframes slide {
	25% {
		transform: translateX(900px) rotate(0.5turn);
	}

	50% {
		transform: translate(900px, -300px);
	}

	75% {
		transform: translate(0, -300px) rotate(-0.5turn);
	}

	100% {
		transform: translate(0, 0);
	}
}






