
body {
	background-image: url('background.png');
	background-size: cover;
	background-position: 0px -250px;
}

.wrapper {
	margin: 20em auto 2em auto;
	width:80%;
	position:relative;
}

.robot {
	animation-name: slide;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 4;
	animation-fill-mode: both;
	animation-direction: alternate;
}

@keyframes slide {
	from {transform: translateX(0);}
	to {transform: translateX(900px);}
}







