.sprite {
	width:500px;
	height:500px;
	display:block;	
	background:transparent url(walker_frames.png) 0 0 no-repeat;
	margin:3em auto;
	animation: walker 0.01s steps(10) infinite;
}

@keyframes walker {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 0 -5000px;
	}
}