body {
  font-family: 'Alfa Slab One', cursive;
  font-size:6rem;
  background:#2c333a;
}

div {
  width:80%;
  margin:4rem auto;
  text-align:center;
  perspective: 800px;
 }

span {
   display:inline-block;
   margin-left: -20px;
   color:#77c6bc;
   transform-origin: 50% 70%;
}


span:nth-child(2n) {
  color:#95b8cb;
}

span:nth-child(1) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both,
             flipDown 0.5s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;  
}

span:nth-child(2) {
  margin-right:30px;
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both,
  flipDown 0.5s 2.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(3) {
 margin-right:30px;
 animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both,
 flipDown 0.5s 2.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(4) {
 animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .6s both,
 flipDown 0.5s 2.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(5) {
  margin-left:-28px;
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both,
  flipDown 0.5s 2.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
 }

span:nth-child(6) {
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both,
  flipDown 0.5s 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(7) { 
  animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both,
  flipDown 0.5s 3.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

/* span:nth-child(1) {
  animation: flipDown 0.5s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;  
}

span:nth-child(2) {
  margin-right:30px;
  animation: flipDown 0.5s 2.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(3) {
 margin-right:30px;
 animation: flipDown 0.5s 2.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(4) {
 animation: flipDown 0.5s 2.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(5) {
  margin-left:-28px;
  animation: flipDown 0.5s 2.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
 }

span:nth-child(6) {
  animation: flipDown 0.5s 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

span:nth-child(7) { 
  animation: flipDown 0.5s 3.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}*/

@keyframes flipUp {
  from {transform: rotateX(90deg);}
  to {tranform: rotateX(0deg);}
} 

@keyframes flipDown {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-180deg);
  }
}









