@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Lato:300,400);
body {
	background: rgb(249, 228, 202);
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
	font-weight: 300;
	margin: 6em 0;
	overflow: hidden;
}

section {
	width: 500px;
	margin: auto;
}

.card {
	background: rgba(255, 255, 255, 0.9);
	font-family: 'Roboto Condensed', sans-serif;
	padding: .5em 2em;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	margin: auto;
	width: 430px;
	text-align: center;
}

.inner {
	margin: 1em 0 2em 0;
}

h2 {
	color: #FB5362;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	font-size: 2rem;
	font-weight: 300;
	margin: 0 0 .15em 0;
}

h3 {
	margin: 0 0 .5em 0;
}

p {
	margin: 0;
	color: #666666;
}

.icon-space {
	margin-top: -40px;
}

.icon-space img {
	border-radius: 50%;
	display: block;
	margin: auto;
	border: 4px solid white;
	background: white;
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

button {
	width: auto;
	height: 40px;
	display: block;
	margin: 2em auto;
	padding: 0 5%;
	border: none;
	border-radius: 4px;
	background-color: #1A9DB4;
	color: whitesmoke;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	transition: background-color .3s ease-out;
}

button:hover {
	background-color: #FB5362;
}

section {
	animation: slideIn 0.8s linear, fadeIn 0.2s ease-in;
}

@keyframes slideIn {
	0% {
		transform: translateY(400px);
		animation-timing-function: ease-out;
	}

	60% {
		transform: translateY(-50px);
		animation-timing-function: ease-in;
	}

	80% {
		transform: translateY(10px);
		animation-timing-function: ease-out;
	}

	100% {
		transform: translateY(0);
		animation-timing-function: ease-in;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
