
body {
	background-color: #D8E8FA;
}

.wrapper {
	margin: 2em auto 2em auto;
	perspective: 1000px;
}

img {
	display:block;
	margin: 0 auto;
	/* transform: rotate3d(5, 1, 1, 45deg); */
	transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
	/* transform: rotateZ(45deg); */
}


